*:not(dialog){
    padding:0;
    margin:0;
}
body{
    background-color: gray;
}
*:not(.shelf *, .dialogBox *){
    color:white;
}
.header{
    padding:20px;
    background-color: #030712;
    display: flex;
    justify-content: space-between;
}
.header > button{
    background-color: #3b0764;
    color:white;
    padding:10px;
    border:none;
}

.dialogBox{
    background-color: #3730a3;
}
.flexContainer{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.control{
    padding:30px;
    background-color: #171717;
    height: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.control > button{
    background-color: #3b0764;
    color:white;
    padding:10px;
    border:none;
}




.shelf{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: min-content;
}
.shelf > div{
    padding:10px;
    margin:0;
    background-color: #1f2937;
    box-sizing: border-box;
}
.shelf > div > *:not(button){
    padding:0;
    margin: 0;
    color:whitesmoke;
}